{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram Clone</title>
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="sidebar">
            <div class="logo">Instagram</div>
            <ul class="nav-links">
                <li><a href="#" class="active">Home</a></li>
                <li><a href="{% url 'accounts:profile' pk=request.user.pk%}">Profile</a></li>
            </ul>
        </nav>
    </header>

    <main class="feed-container">
        <section class="feed">
            <div class="post">
                <div class="post-header">
                    <img src="{% static 'path_to_profile_image.jpg' %}" alt="Profile Image" class="post-author-avatar">
                    <button class="post-options">•••</button>
                </div>
                <div class="post-image">
                    <img src="{{ MEDIA_URL }}{{ post.image.url }}" alt="Post Image">
                </div>
                <div class="post-actions">
                    <span class="action-icon">❤️</span>
                    <span class="action-icon">💬</span>
                    <span class="action-icon">✈️</span>
                </div>
            </div>
        </section>
    </main>

    <script src="{% static 'js/home.js' %}"></script>
    <script src="{% static 'js/like.js' %}"></script>

</body>
</html>
